#login_form {
    margin: 0 auto;

}

#hero {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #dff0d8;
}

#quote {
    margin-top: 30px;
}